{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Subscription</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
        </div>
    </div>
</div>


<div class="container">
    <table class="table table-striped">
        <tbody>
            <form method="post" class="well form-horizontal">
                <tr>
                    <td colspan="1">
                        {% for field in form %}
                        <div class="form-group">
                            <label class="col-md-4 control-label"> {{ field.label_tag }} </label>
                            <div class="col-md-8 inputGroupContainer">{{ field }}</div>
                            <small id="help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                            <small id="error" class="form-text text-muted"> {{ field.errors }}</small>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><button type="submit" class="btn btn-dark">Add New</button></td>
                </tr>
            </form>
        </tbody>
    </table>
</div>
{% endblock %}